In [44]:
import os
import pandas as pd
import random

In [147]:
movies_dataset_path = 'movies_metadata.csv'
cols = ['genres', 'imdb_id', 'title', 'production_companies', 'production_countries']

# Read movies_metadata.csv & chosen columns & drop NA
movies_df = pd.read_csv(movies_dataset_path, usecols=cols).dropna()

# Drop rows whose 'genres' == [] or 'production_companies' == [] or 'production_countries' == []
movies_df = movies_df[(movies_df['genres'] != '[]')  & \
                        (movies_df['production_companies'] != '[]') & \
                        (movies_df['production_countries'] != '[]')]

In [148]:
# Choose 200 random rows
random_movies_df = movies_df.sample(n=200).reset_index(drop=True)

# Make 2 seperate KBs from random_movies_df
kb1 = random_movies_df.sample(n=120)
kb2 = random_movies_df.sample(n=120)

In [149]:
random_movies_df.head()

,genres,imdb_id,production_companies,production_countries,title
0,"[{'id': 18, 'name': 'Drama'}]",tt0122591,"[{'name': 'Lenfilm', 'id': 10845}, {'name': 'V...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",The Lonely Voice of Man
1,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",tt3686272,"[{'name': 'Bambú', 'id': 27628}]","[{'iso_3166_1': 'ES', 'name': 'Spain'}]",The Club of the Misunderstood
2,"[{'id': 27, 'name': 'Horror'}]",tt1770672,"[{'name': 'Imagenation Abu Dhabi FZ', 'id': 67...","[{'iso_3166_1': 'AE', 'name': 'United Arab Emi...",Djinn
3,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",tt0091244,"[{'name': 'AFC', 'id': 25678}]","[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...",I Love You
4,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",tt0081062,"[{'name': 'Norman Rosemont Productions', 'id':...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",Little Lord Fauntleroy

In [150]:
kb1.head()

,genres,imdb_id,production_companies,production_countries,title
125,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",tt5702566,"[{'name': 'Vangard Productions', 'id': 92086},...","[{'iso_3166_1': 'US', 'name': 'United States o...",Stasis
130,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",tt0044121,"[{'name': 'RKO Radio Pictures', 'id': 6}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",The Thing from Another World
91,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",tt0074608,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'US', 'name': 'United States o...",Harry and Walter Go To New York
168,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",tt0974613,"[{'name': 'Rainmark Films', 'id': 3346}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",The Other Man
149,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0763840,"[{'name': 'North by Northwest Entertainment', ...","[{'iso_3166_1': 'MA', 'name': 'Morocco'}, {'is...",Home of the Brave

In [151]:
kb2.head()

,genres,imdb_id,production_companies,production_countries,title
49,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",tt0064470,"[{'name': 'Ambassador Productions', 'id': 7696...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",Latitude Zero
60,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0075627,"[{'name': 'Les Productions Jacques Roitfeld', ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",Aces High
129,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",tt1531911,"[{'name': 'The Asylum', 'id': 1311}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",Princess of Mars
71,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0252619,"[{'name': 'Arzu Film', 'id': 4639}]","[{'iso_3166_1': 'TR', 'name': 'Turkey'}]",Köyden İndim Şehire
136,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt1552669,[{'name': 'VIP Medienfonds 2 & 3 Filmgeschäfts...,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",Dinosaurier - Gegen uns seht ihr alt aus!

In [152]:
# Preprocessing: Make a string of list of dictionaries into list of names of features.
# E.g. 'genres' column output only contains 'Drama, Action, Documentary'
def dicts_list_to_str(df: pd.DataFrame, columns_to_modify):
    df_clone = df.copy()
    for index, row in df_clone.iterrows():
        for col in columns_to_modify:
            list_of_dicts = eval(row[col])
            if col == 'production_countries':
                col_elements = [col_dict['iso_3166_1'] for col_dict in list_of_dicts]
            else:
                col_elements = [col_dict['name'] for col_dict in list_of_dicts]
            col_str = ' '.join(col_elements)
            # Replace back to the column name
            row[col] = col_str
    
    return df_clone

In [153]:
columns_to_modify = ['genres', 'production_companies', 'production_countries']
kb1_modified = dicts_list_to_str(kb1, columns_to_modify)

In [154]:
kb1_modified.head()

,genres,imdb_id,production_companies,production_countries,title
125,Adventure Science Fiction,tt5702566,Vangard Productions PraxiScope Productions,US,Stasis
130,Horror Science Fiction,tt0044121,RKO Radio Pictures Winchester Pictures Corpora...,US,The Thing from Another World
91,Crime Comedy,tt0074608,Columbia Pictures Corporation,US,Harry and Walter Go To New York
168,Drama Thriller Mystery Romance,tt0974613,Rainmark Films,GB IT,The Other Man
149,Action Drama,tt0763840,North by Northwest Entertainment Metro-Goldwyn...,MA US,Home of the Brave

In [155]:
kb2_modified = dicts_list_to_str(kb2, columns_to_modify)

In [156]:
kb2_modified.head()

,genres,imdb_id,production_companies,production_countries,title
49,Science Fiction Adventure Action,tt0064470,Ambassador Productions Don Sharpe Enterprises ...,JP US,Latitude Zero
60,Action Drama War,tt0075627,Les Productions Jacques Roitfeld S. Benjamin F...,GB,Aces High
129,Fantasy Science Fiction War,tt1531911,"The Asylum The Global Asylum Asylum, The",US,Princess of Mars
71,Comedy Drama,tt0252619,Arzu Film,TR,Köyden İndim Şehire
136,Comedy Crime Romance,tt1552669,VIP Medienfonds 2 & 3 Filmgeschäftsführungs Gm...,DE,Dinosaurier - Gegen uns seht ihr alt aus!

In [157]:
def modified_kb2(df: pd.DataFrame, randomly_removed_cols):
    df_clone = df.copy()
    for index, row in df_clone.iterrows():
        # For 'genres', 'production_countries', if there is only 1 genre, keep it. Otherwise, remove one of them
        for col in randomly_removed_cols:
            feature_list = row[col].split(' ')
            if len(feature_list) > 1:
                # Randomly remove 1 of them
                random.shuffle(feature_list)
                feature_list.pop()
                # Merge back as a string
                features_str = ' '.join(feature_list)
                row[col] = features_str
        
        
        # For 'title', make some changes so it looks like a typo
        title_list = row['title'].split(' ')
        # Make typo changes only with 'title' has more than 2 words
        if len(title_list) > 2:
            row['title'] = row['title'].replace('a', '4').replace('i', 'j')
    return df_clone

In [158]:
randomly_remove_cols = ['genres', 'production_countries']

kb2_processed = modified_kb2(kb2_modified, randomly_remove_cols)

In [159]:
# Modify KBs' attributes (column name) so that they are different, and easier for later blocking methods
def name_modification(Kb, appended_str:str):
    Kb_clone = Kb.copy()
    name_modification_dict = {}
    for col in Kb_clone.columns:
        name_modification_dict[col] = col + appended_str
    Kb_clone.rename(name_modification_dict, axis=1, inplace=True)

    return Kb_clone

In [163]:
kb1_processed = name_modification(kb1_modified, '_kb1')
kb2_processed_2 = name_modification(kb2_processed, '_kb2')

### Final KBs

In [164]:
# Final KBs
kb1_processed.head()

,genres_kb1,imdb_id_kb1,production_companies_kb1,production_countries_kb1,title_kb1
125,Adventure Science Fiction,tt5702566,Vangard Productions PraxiScope Productions,US,Stasis
130,Horror Science Fiction,tt0044121,RKO Radio Pictures Winchester Pictures Corpora...,US,The Thing from Another World
91,Crime Comedy,tt0074608,Columbia Pictures Corporation,US,Harry and Walter Go To New York
168,Drama Thriller Mystery Romance,tt0974613,Rainmark Films,GB IT,The Other Man
149,Action Drama,tt0763840,North by Northwest Entertainment Metro-Goldwyn...,MA US,Home of the Brave

In [165]:
kb2_processed_2.head()

,genres_kb2,imdb_id_kb2,production_companies_kb2,production_countries_kb2,title_kb2
49,Science Action Fiction,tt0064470,Ambassador Productions Don Sharpe Enterprises ...,US,Latitude Zero
60,War Action,tt0075627,Les Productions Jacques Roitfeld S. Benjamin F...,GB,Aces High
129,Fantasy Science Fiction,tt1531911,"The Asylum The Global Asylum Asylum, The",US,Prjncess of M4rs
71,Comedy,tt0252619,Arzu Film,TR,Köyden İndjm Şehjre
136,Crime Romance,tt1552669,VIP Medienfonds 2 & 3 Filmgeschäftsführungs Gm...,DE,Djnos4urjer - Gegen uns seht jhr 4lt 4us!

### Token blocking

In [185]:
test_db1 = kb1_processed.copy()
test_db2 = kb2_processed_2.copy()

dict_db1 = {}
dict_db2 = {}

# Get token of every KBs
for (idxRow1, row1), (idxRow2, row2) in zip(test_db1.iterrows(), test_db2.iterrows()):
    for (idxCol, col1), (_, col2) in zip(row1.iteritems(), row2.iteritems()):
        col1_string = col1.split(' ')
        col2_string = col2.split(' ')
        
        # Add into the dictionaries, with key is the word token and the value is the rowIdx
        for token in col1_string:
            if token in dict_db1.keys():
                dict_db1[token].append(str(idxRow1) + '_kb1')
            else:
                dict_db1[token] = [str(idxRow1) + '_kb1']
                
        for token in col2_string:
            if token in dict_db2.keys():
                dict_db2[token].append(str(idxRow2) + '_kb2')
            else:
                dict_db2[token] = [str(idxRow2) + '_kb2']

# Make values in each key appears once
for key, values in dict_db1.items():
    dict_db1[key] = list(set(values))
    
for key, values in dict_db2.items():
    dict_db2[key] = list(set(values))

In [ ]:
dict_db1

In [ ]:
dict_db2

In [188]:
# Blocking
blocks = {}

for key in dict_db1.keys():
    if key in dict_db2.keys():
        rows_kb1 = dict_db1[key][:]
        rows_kb1.extend(dict_db2[key])
        blocks[key] = rows_kb1

In [ ]:
blocks

### Attribute Clustering Blocking

In [190]:
# Tokens for each KBs
# KB1
attribute_token_kb1 = {}
for i in list(test_db1):
    attribute_list = test_db1[i].tolist()
    tokens_list = []
    for entry in attribute_list:
        tokens = entry.split(' ')
        tokens_list.extend(tokens)
    # Turn it into a set so that each token appears once
    tokens_list = list(set(tokens_list))
    attribute_token_kb1[i] = tokens_list

# KB2
attribute_token_kb2 = {}
for i in list(test_db2):
    attribute_list = test_db2[i].tolist()
    tokens_list = []
    for entry in attribute_list:
        tokens = entry.split(' ')
        tokens_list.extend(tokens)
    # Turn it into a set so that each token appears once
    tokens_list = list(set(tokens_list))
    attribute_token_kb2[i] = tokens_list

In [ ]:
attribute_token_kb1

In [219]:
# Write a function for Jaccard similarities
links = {}
for attribute_kb1, values in attribute_token_kb1.items():
    print(attribute_kb1)
    jaccard_similarity_score = {}
    # Compare with all attributes name in attribute_token_kb2:
    for attribute_kb2 in attribute_token_kb2.keys():
        # Mutual tokens
        mutual_tokens = set(attribute_token_kb1[attribute_kb1]).intersection(attribute_token_kb2[attribute_kb2])
        # Total tokens in two KBs attribute names
        attr_kb1 = attribute_token_kb1[attribute_kb1][:]
        attr_kb1.extend(attribute_token_kb2[attribute_kb2])
        total_tokens = set(attr_kb1)
        # Jaccarcd similarity
        jaccard_similarity_score[attribute_kb2] = len(mutual_tokens)/len(total_tokens)
    
    # Get the key that have the highest Jaccard similarity score
    similar_attributes = max(jaccard_similarity_score, key=jaccard_similarity_score.get)
    print(similar_attributes)
    links[attribute_kb1] = similar_attributes

genres_kb1
genres_kb2
imdb_id_kb1
imdb_id_kb2
production_companies_kb1
production_companies_kb2
production_countries_kb1
production_countries_kb2
title_kb1
title_kb2

In [213]:
links

{'genres_kb1_kb1': 'genres_kb2_kb2',
 'imdb_id_kb1_kb1': 'imdb_id_kb2_kb2',
 'production_companies_kb1_kb1': 'production_companies_kb2_kb2',
 'production_countries_kb1_kb1': 'production_countries_kb2_kb2',
 'title_kb1_kb1': 'title_kb2_kb2'}

In [243]:
def get_attribute_tokens(Kb):
    attribute_token = {}
    # Loop through all attribute names
    for i in list(Kb):
        attribute_values = Kb[i].tolist()
        tokens_list = []
        # Loop each entry (row) in attribute_values
        for entry in attribute_values:
            tokens = entry.split(' ')
            tokens_list.extend(tokens)
        # Turn it into a set so that each token appears once
        tokens_set = list(set(tokens_list))
        attribute_token[i] = tokens_set
    
    return attribute_token

def get_links(ref_token_dict, target_token_dict):
    links = {}
    for attribute_ref in ref_token_dict.keys():
        # Compare with all attributes name in target_token_dict:
        for attribute_target in target_token_dict.keys():
            # Mutual tokens
            mutual_tokens = set(ref_token_dict[attribute_ref]).intersection(target_token_dict[attribute_target])
            # Total tokens
            tokens_ref = ref_token_dict[attribute_ref][:]
            tokens_ref.extend(target_token_dict[attribute_target])
            total_tokens = set(tokens_ref)
            # Add link if the Jaccard similarity score is > 0
            jaccard_similarity_score = len(mutual_tokens)/len(total_tokens)
            if jaccard_similarity_score > 0:
                if attribute_ref in links.keys():
                    links[attribute_ref].append(attribute_target)
                else:
                    links[attribute_ref] = [attribute_target]
        # This is when no link is added, so that the attribute_ref key does not exist yet
        if attribute_ref not in links.keys():
            links[attribute_ref] = []
    
    return links

def transitive_closure(links_1, links_2, initial_attribute='genres_kb1', visited=[]):
    visited.append(initial_attribute)
    similar_attributes_1 = links_1[initial_attribute][:]
    for attribute_2 in similar_attributes_1:
        if attribute_2 not in visited:
            transitive_closure(links_2, links_1, attribute_2, visited)
    return visited

def attribute_clustering_blocking(kb1, kb2):
    # Get tokens of all attributes name in the Kb
    attribute_token_kb1 = get_attribute_tokens(kb1)
    attribute_token_kb2 = get_attribute_tokens(kb2)
    
    # Get links by Jaccard similarity
    links_by_kb1 = get_links(attribute_token_kb1, attribute_token_kb2)
    links_by_kb2 = get_links(attribute_token_kb2, attribute_token_kb1)
    
    # Transitive closure
    clusters = {}
    for idx, attribute in enumerate(links_by_kb1.keys()):
        clusters['c'+str(idx)] = transitive_closure(links_by_kb1, links_by_kb2, attribute, visited=[])
    
    # Examine for singleton cluster
    glue_clusters = {}
    
    for cluster, attributes in clusters.items():
        if len(attributes) == 1:
            glue_clusters[cluster] = clusters.pop(cluster, None)
    
    return clusters, glue_clusters

In [ ]:
attribute_token_Kb1 = get_attribute_tokens(test_db1)
attribute_token_Kb1

In [215]:
links_by_Kb1 = get_links(attribute_token_kb1, attribute_token_kb2)
links_by_Kb1

{'genres_kb1': ['genres_kb2', 'production_companies_kb2', 'title_kb2'],
 'imdb_id_kb1': ['imdb_id_kb2'],
 'production_companies_kb1': ['genres_kb2',
  'production_companies_kb2',
  'title_kb2'],
 'production_countries_kb1': ['production_countries_kb2'],
 'title_kb1': ['production_companies_kb2', 'title_kb2']}

In [216]:
links_by_Kb2 = get_links(attribute_token_kb2, attribute_token_kb1)
links_by_Kb2

{'genres_kb2': ['genres_kb1', 'production_companies_kb1'],
 'imdb_id_kb2': ['imdb_id_kb1'],
 'production_companies_kb2': ['genres_kb1',
  'production_companies_kb1',
  'title_kb1'],
 'production_countries_kb2': ['production_countries_kb1'],
 'title_kb2': ['genres_kb1', 'production_companies_kb1', 'title_kb1']}

In [229]:
def transitive_closure(links_1, links_2, initial_attribute='genres_kb1', visited=[]):
    visited.append(initial_attribute)
    similar_attributes_1 = links_1[initial_attribute][:]
    for attribute_2 in similar_attributes_1:
        if attribute_2 not in visited:
            transitive_closure(links_2, links_1, attribute_2, visited)
    return visited

In [ ]:
def transitive_closure_2():

In [230]:
test = transitive_closure(links_by_Kb1, links_by_Kb2, 'genres_kb1', [])
test

['genres_kb1',
 'genres_kb2',
 'production_companies_kb1',
 'production_companies_kb2',
 'title_kb1',
 'title_kb2']

In [231]:
test_2 = transitive_closure(links_by_Kb1, links_by_Kb2, 'imdb_id_kb1', [])
test_2

['genres_kb1',
 'genres_kb2',
 'production_companies_kb1',
 'production_companies_kb2',
 'title_kb1',
 'title_kb2',
 'imdb_id_kb1',
 'imdb_id_kb2']

In [237]:
clusters = {}
for idx, attribute in enumerate(links_by_Kb1.keys()):
    clusters['c'+str(idx)] = transitive_closure(links_by_Kb1, links_by_Kb2, attribute, visited=[])

In [238]:
clusters

{'c0': ['genres_kb1',
  'genres_kb2',
  'production_companies_kb1',
  'production_companies_kb2',
  'title_kb1',
  'title_kb2'],
 'c1': ['imdb_id_kb1', 'imdb_id_kb2'],
 'c2': ['production_companies_kb1',
  'genres_kb2',
  'genres_kb1',
  'production_companies_kb2',
  'title_kb1',
  'title_kb2'],
 'c3': ['production_countries_kb1', 'production_countries_kb2'],
 'c4': ['title_kb1',
  'production_companies_kb2',
  'genres_kb1',
  'genres_kb2',
  'production_companies_kb1',
  'title_kb2']}

#### Main function attribute clustering blocking

In [244]:
clusters, glue_clusters = attribute_clustering_blocking(test_db1, test_db2)

In [245]:
clusters

{'c0': ['genres_kb1',
  'genres_kb2',
  'production_companies_kb1',
  'production_companies_kb2',
  'title_kb1',
  'title_kb2'],
 'c1': ['imdb_id_kb1', 'imdb_id_kb2'],
 'c2': ['production_companies_kb1',
  'genres_kb2',
  'genres_kb1',
  'production_companies_kb2',
  'title_kb1',
  'title_kb2'],
 'c3': ['production_countries_kb1', 'production_countries_kb2'],
 'c4': ['title_kb1',
  'production_companies_kb2',
  'genres_kb1',
  'genres_kb2',
  'production_companies_kb1',
  'title_kb2']}

In [242]:
glue_clusters

{}